@{
    ViewData["Title"] = "Reports";
}
<div class="text-center">
    <h1>Reports</h1>
    @Html.ActionLink("Top 5 CUSTOMERS", "Top5Customers", "Report")
    <br>
    @Html.ActionLink("Top 5 SECTORS", "Top5Sectors", "Report")
</div>
