@model Top5CustomersViewModel

@{
    ViewData["Title"] = "CustomerList";
}

<h1>TOP 5 CUSTOMERS</h1>
@if (Model.TopCustomers.Any()){
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopCustomers.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopCustomers.FirstOrDefault().TotalRegistrations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TopCustomers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRegistrations)
            </td>
         
        </tr>
}
    </tbody>
</table>
} else {
<div>NO DATA</div>
}